html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(234,234,234,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(234,234,234,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 80%,rgba(234,234,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 );
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    width: 1100px;
    margin: 35px auto;
    font-size: 18px;
    color: #333;
}

.content-box {
    width: 1100px;
    margin: 35px auto;
    padding: 25px 50px 75px;
    background: #f8f8f8;
    border: solid 1px #d8d8d8;
    border-radius: 5px;
}

table > thead > tr > th {
    cursor: pointer;
}


/* Errors */

div.errors > div > div > img {
    height:32px;
}

div.errors > div > div > div > ul {
    list-style: none;
}

/*
 * http://hosting.healthy-websites.com/admin/code/images/arrow-left-100.png
 * http://hosting.healthy-websites.com/admin/code/images/arrow-right-100.png
 */