<ng-include src="'view/pre.html'"></ng-include>

<h1 ng-show="ctrl.isUpdate()">Customer update</h1>
<h1 ng-hide="ctrl.isUpdate()">Customer create</h1>

<form class="content-box">

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" class="form-control" placeholder="Enter email" aria-describedby="emailHelp"
               ng-model="ctrl.oCustomer.email">
        <small id="emailHelp" class="form-text text-muted">Email address.</small>
    </div>

    <button class="btn btn-primary"
            ng-click="ctrl.submit()">
        Save
    </button>

    <a ui-sref="customer-list" class="btn btn-default">
        Back
    </a>

</form>

<ng-include src="'view/post.html'"></ng-include>