<ng-include src="'view/pre.html'"></ng-include>

<h1>Customer create</h1>

<form class="content-box">

    <ng-include src="'view/errors.html'"></ng-include>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" placeholder="Enter name"
               ng-model="ctrl.oCustomer.name">
    </div>

    <button class="btn btn-primary"
            ng-click="ctrl.submit()">
        Save
    </button>

    <a ui-sref="partnerGroups-customersList({partnerId:ctrl.params.partnerId})" class="btn btn-default">
        Back
    </a>

</form>

<ng-include src="'view/post.html'"></ng-include>