<ng-include src="'view/pre.html'"></ng-include>

<h1>Partner create</h1>

<form class="content-box">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" placeholder="Enter email" aria-describedby="nameHelp"
               ng-model="ctrl.sPartnerName">
        <small id="emailHelp" class="form-text text-muted">Name.</small>
    </div>

    <button class="btn btn-primary"
            ng-click="ctrl.submit()">
        Save
    </button>

    <a ui-sref="partnerGroups-list" class="btn btn-default">
        Back
    </a>

</form>

<ng-include src="'view/post.html'"></ng-include>