<ng-include src="'view/pre.html'"></ng-include>

<h1>Add new host</h1>

<form class="content-box">

    <ng-include src="'view/errors.html'"></ng-include>

    <div class="form-group">
        <label for="host">Host</label>
        <input type="text" id="host" class="form-control" placeholder="Enter host" aria-describedby="hostHelp"
               ng-model="ctrl.oForm.host">
        <small id="hostHelp" class="form-text text-muted">Host.</small>
    </div>

    <div class="form-group">
        <label for="type">Type</label>

        <select id="type" aria-describedby="typeHelp" class="form-control"
                ng-model="ctrl.oForm.type">
            <option ng-repeat="oType in ctrl.aoHostTypes" value="|[oType.id]|">|[oType.name]|</option>
        </select>
        <small id="typeHelp" class="form-text text-muted">Type.</small>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control" placeholder="Enter description" aria-describedby="descriptionHelp"
               ng-model="ctrl.oForm.description">
        <small id="descriptionHelp" class="form-text text-muted">Description.</small>
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" class="form-control" placeholder="Enter address" aria-describedby="addressHelp"
               ng-model="ctrl.oForm.address">
        <small id="addressHelp" class="form-text text-muted">Address.</small>
    </div>

    <div class="form-group">
        <label for="alias">Alias</label>
        <input type="text" id="alias" class="form-control" placeholder="Enter alias" aria-describedby="aliasHelp"
               ng-model="ctrl.oForm.alias">
        <small id="aliasHelp" class="form-text text-muted">Alias.</small>
    </div>

    <button class="btn btn-primary"
            ng-click="ctrl.submit()">
        Save
    </button>

    <button class="btn btn-default"
            ng-click="ctrl.goBack()">
        Back
    </button>

</form>

<ng-include src="'view/post.html'"></ng-include>