<ng-include src="'view/pre.html'"></ng-include>

<h1>Add new partner contact</h1>

<form class="content-box">

    <ng-include src="'view/errors.html'"></ng-include>

    <div class="form-group">
        <label for="name">Username (email)</label>
        <input type="text" id="name" class="form-control" placeholder="Enter email" aria-describedby="nameHelp"
               ng-model="ctrl.oContact.username">
        <small id="emailHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Enter password" aria-describedby="passwordHelp"
               ng-model="ctrl.oContact.password">
        <small id="passwordHelp" class="form-text text-muted">.</small>
    </div>

    <div class="form-group">
        <label for="fullName">Full name</label>
        <input type="text" id="fullName" class="form-control" placeholder="Enter full name" aria-describedby="fullNameHelp"
               ng-model="ctrl.oContact.fullName">
        <small id="fullNameHelp" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" id="phone" class="form-control" placeholder="Enter phone number" aria-describedby="phoneHelp"
               ng-model="ctrl.oContact.phoneNumber">
        <small id="phoneHelp" class="form-text text-muted">(international format +3531234567)</small>
    </div>

    <button class="btn btn-primary"
            ng-click="ctrl.submit()">
        Save
    </button>

    <a ui-sref="partners-list" class="btn btn-default">
        Back
    </a>

</form>

<ng-include src="'view/post.html'"></ng-include>