<ng-include src="'view/pre.html'"></ng-include>

<h1>Change password</h1>

<form class="content-box" autocomplete="off">

    <ng-include src="'view/errors.html'"></ng-include>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" class="form-control" placeholder="Enter password" aria-describedby="passwordHelp"
               ng-model="ctrl.sPassword"
               ng-change="ctrl.bError = false;">
        <small id="passwordHelp" class="form-text text-muted">Password.</small>
    </div>

    <button class="btn btn-primary"
            ng-click="ctrl.submit()">
        Save
    </button>

    <a ui-sref="users-list" class="btn btn-default">
        Back
    </a>

</form>



<ng-include src="'view/post.html'"></ng-include>