<ng-include src="'view/pre.html'"></ng-include>

<h1>Contacts</h1>

<div class="content-box">

   <!-- <a ui-sref="customerContact-create" class="btn btn-primary">
        Create customer contact
    </a>-->

    <br/>

    <div ng-init="ctrl.initPartnerTable();">
        <div id="_partner_contacts_table_container"></div>
    </div>

    <br />
    <br />
    <hr />
    <br />

    <div ng-init="ctrl.initCustomerTable();">
        <div id="_customer_contacts_table_container"></div>
    </div>

    <br />

    <a ui-sref="customer-list" class="btn btn-default">
        Back
    </a>

</div>

<ng-include src="'view/post.html'"></ng-include>