<ng-include src="'view/pre.html'"></ng-include>

<h1 ng-show="ctrl.isUpdate()">Partner update</h1>
<h1 ng-hide="ctrl.isUpdate()">Partner create</h1>

<form class="content-box">

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" class="form-control" placeholder="Enter email" aria-describedby="emailHelp"
               ng-model="ctrl.oPartner.email">
        <small id="emailHelp" class="form-text text-muted">Email address.</small>
    </div>
    <div class="form-group">
        <label for="group">Group</label>
        <input type="text" id="group" class="form-control" placeholder="Enter group" aria-describedby="groupHelp"
               ng-model="ctrl.oPartner.group">
        <small id="groupHelp" class="form-text text-muted">Group name.</small>
    </div>

    <button class="btn btn-primary"
            ng-click="ctrl.submit()">
        Save
    </button>

    <a ui-sref="partner-list" class="btn btn-default">
        Back
    </a>

</form>

<ng-include src="'view/post.html'"></ng-include>