<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <ul class="nav navbar-nav">
                <li ng-class="{active: ctrl.sCurrentRoute == 'dashboard'}">
                    <a ui-sref="dashboard">Dashboard</a>
                </li>
                <li ng-class="{active: (ctrl.sCurrentRoute.split('-')[0] == 'users')}">
                    <a ui-sref="users-list">Users</a>
                </li>
                <li ng-class="{active: (ctrl.sCurrentRoute.split('-')[0] == 'userReports')}">
                    <a ui-sref="userReports-list">User reports</a>
                </li>
                <li ng-class="{active: (ctrl.sCurrentRoute.split('-')[0] == 'partnerGroups')}">
                    <a ui-sref="partnerGroups-list">Partners</a>
                </li>
                <!--<li ng-class="{active: (ctrl.sCurrentRoute.split('-')[0] == 'customer' || ctrl.sCurrentRoute.split('-')[0] == 'customerContact')}">
                    <a ui-sref="customer-list">Customer list</a>
                </li>
                <li ng-class="{active: ctrl.sCurrentRoute.split('-')[0] == 'host'}">
                    <a ui-sref="host-list">Host list</a>
                </li>-->
                <!--<li ng-class="{active: ctrl.sCurrentRoute.split('-')[0] == 'hostType'}">
                    <a ui-sref="hostType-list">Host type list</a>
                </li>-->
            </ul>

        </div>
    </div>
</nav>